@model GuestsListViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Responses</title>
</head>
<body>
    <div class="panel-body">
        <h2>Here is the list of people attending the party</h2>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (PartyInvites.Models.GuestResponse r in Model.GuestResponses)
                {
                    <tr>
                        <td>@Html.ActionLink(@r.Name, "ShowResponseDetails", new { id = r.ID })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div page-model="@Model.PagingInfo" page-action="ListResponses"></div>
</body>
</html>